<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='21712967-74',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->

    <meta charset="utf-8">
    <title>{{ page.title }} : Jim Sidler : Ruby on Rails Software Engineer</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <script src="https://clarity.fm/assets/widget_loader.js"></script>

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
            <li><a href="{{ BASE_PATH }}{{ site.posts.last.url }}">SILT</a></li>
            <li><a href="http://www.linkedin.com/in/jimsidler"><img src="/assets/images/icon-linkedin.png" alt="LinkedIn" title="LinkedIn" /></a></li>
            <li><a href="http://github.com/jvsidler"><img src="/assets/images/icon-git.png" alt="Github" title="Github" /></a></li>
            <li><a href="http://facebook.com/jvsidler"><img src="/assets/images/icon-facebook.png" alt="Facebook" title="Facebook" /></a></li>
            <li><a href="http://twitter.com/jvsidler"><img src="/assets/images/icon-twitter.png" alt="Twitter" title="Twitter" /></a></li>
            <li><a href="http://clarity.fm/jimsidler"><img src="/assets/images/icon-clarity.png" alt="Clarity.fm" title="Clarity.fm" /></a></li>
            <li><a href="http://www.shopify.com/?ref=fivethrive"><img src="/assets/images/icon-shopify.png" alt="Shopify" title="Shopify" /></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2012
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}

    <script>
        document.onclick = function(e){
          _gaq.push(['_trackEvent', 'Facadify', 'Click', e.clientX + "." + e.clientY]);
        };
    </script>
  </body>
</html>
